/* Add a black background color to the top navigation */
.topnav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding: 20px 0; /* Increased padding for better centering */
  display: flex;
  justify-content: space-between; /* Align items on either end */
  align-items: center;
  background-color: whitesmoke;
}

/* Style the links inside the navigation bar */
.entrelink {
  font-family: 'Nunito', sans-serif;
  font-size: 50px; /* Increased font size */
  font-weight: bold;
  margin: 0;
  text-transform: lowercase;
}


.cb {
  color: #8A2BE2;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.cb:hover {
  color: #483D8B; /* Dark Slate Blue */
}

/*for main entrelink line.*/
@keyframes gradientText1 {
  0%, 100% { color: #8A2BE2; } /* Purple */
  25% { color: #00008B; } /* Dark Blue */
  75% { color: #00CED1; } /* Turquoise */
}
/*for tagline below navbar.*/

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
/* New text beneath Entrelink */
.tagline {
  color: #8A2BE2; /* Purple */
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px; /* Adjust as needed */
}


.hello {
  text-align: center;
  font-size: 50px;
  color: black;
  padding-top: 100px;
}
  .cb {
    display: inline-block;
    position: relative;
    color: black;
    font: arial sans-serif;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .cb::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #483D8B;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .cb:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .main {
  
    text-align: center;
    font-size: large;
    /* animation: gradientText1 10s infinite; */
    font-size: 50px;

  }

    
  body {
    font-family: 'Arial', serif;
  }
  
  h1 {
    font-size: 50px;
    text-align: center;
    
    color: black;
  }
  
  .content-slider {
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .sentence {
    display: flex;
}

.word {
  margin: 0 10px;
  font-size: 50px;
  font-weight: bold;
  opacity: 0;
  animation: fadeIn 3s linear forwards;
}

.word.connect {
  animation-delay: 2s; /* Adjust the delay as needed */
}

.word.create {
  animation-delay: 3s; /* Adjust the delay as needed */
}


.tagtext {
  color: black;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}


         
         
.signup {
  background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.signup:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
